In [7]:
# IMPORTS
import pandas as pd
from math import *

# I. Pen-and-Paper

In [162]:
data = [
    [0.22, 2, 0, 1, 'C'],
    [0.06, 0, 0, 0, 'B'],
    [0.16, 1, 2, 2, 'C'],
    [0.21, 0, 0, 0, 'B'],
    [0.01, 2, 2, 0, 'C'],
    [0.30, 0, 1, 0, 'B'],
    [0.76, 0, 1, 1, 'A'],
    [0.86, 1, 0, 0, 'A'],
    [0.93, 0, 1, 1, 'C'],
    [0.47, 0, 1, 1, 'C'],
    [0.73, 1, 0, 0, 'A'],
    [0.89, 1, 2, 0, 'B']
]

df = pd.DataFrame(data, columns=['y1', 'y2', 'y3','y4','yout'])

data_right = df[df['y1']>=0.3]
data_right

      y1  y2  y3  y4 yout
5   0.30   0   1   0    B
6   0.76   0   1   1    A
7   0.86   1   0   0    A
8   0.93   0   1   1    C
9   0.47   0   1   1    C
10  0.73   1   0   0    A
11  0.89   1   2   0    B

In [105]:
data_left = df[df['y1']<0.3]

In [160]:
df[df['y1']>0.8][df['y1'] <= 1][df['yout']=='C']

/var/folders/f4/8_r5407n5ll97y6t_rkjdg2m0000gr/T/ipykernel_54800/1280540386.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['y1']>0.8][df['y1'] <= 1][df['yout']=='C']
/var/folders/f4/8_r5407n5ll97y6t_rkjdg2m0000gr/T/ipykernel_54800/1280540386.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['y1']>0.8][df['y1'] <= 1][df['yout']=='C']

     y1  y2  y3  y4 yout
8  0.93   0   1   1    C

In [93]:
def entropy_props(props_arr):
    if sum(props_arr) != 1:
        raise ValueError('Sum of props must be 1')
    entropy = 0
    for prop in props_arr:
        entropy -= prop * log2(prop)
    return entropy

In [101]:
H_yout - 3/4*entropy_props([1/3, 2/3])

0.8679348319219556

In [95]:
entropy_props([1/2, 1/4, 1/4])

1.5

In [103]:
1.5-3/4*(-1/3*log2(1/3) - 1/3*log2(1/3) - 1/3*log2(1/3))

0.31127812445913294

In [102]:
data_right[data_right['y3']==1].sort_values(by='y1', ascending=True, inplace=False)

     y1  y2  y3  y4 yout
5  0.30   0   1   0    B
9  0.47   0   1   1    C
6  0.76   0   1   1    A
8  0.93   0   1   1    C

In [50]:
def prob(variable, value, df):
    return len(df[df[variable] == value]) / len(df)

def entropy(df):
    entropy = 0
    for i in df['yout'].unique():
        p = prob('yout', i, df)
        entropy += -p * log2(p)
    return entropy

In [51]:
# Calculation of information gain for the right subtree, with a hypothetical split on each attribute.

# DÚVIDA: deveríamos calcular ainda a entropia para y1? dividimos em 0.3, mas talvez outro split nos dê resultados melhores? oh man

H_yout_right = entropy(data_right)
H_yout_right

1.5566567074628228

In [62]:
# From here on, all data is within the right subtree
H_y2 = entropy(data_right[data_right['y2'] == 0]) * prob('y2', 0, data_right) + entropy(data_right[data_right['y2'] == 1]) * prob('y2', 1, data_right) + entropy(data_right[data_right['y2'] == 2]) * prob('y2', 2, data_right)
H_y2
IG_y2 = H_yout_right - H_y2
IG_y2

0.30595849286804166

In [60]:
H_y3 = entropy(data_right[data_right['y3'] == 0]) * prob('y3', 0, data_right) + entropy(data_right[data_right['y3'] == 1]) * prob('y3', 1, data_right) + entropy(data_right[data_right['y3'] == 2]) * prob('y3', 2, data_right)
H_y3
IG_y3 = H_yout_right - H_y3
IG_y3

0.6995138503199657

In [63]:
H_y4 = entropy(data_right[data_right['y4'] == 0]) * prob('y4', 0, data_right) + entropy(data_right[data_right['y4'] == 1]) * prob('y4', 1, data_right)
H_y4
IG_y4 = H_yout_right - H_y4
IG_y4

0.5916727785823274

In [ ]:
# práticas
import statistics as stats